.content {
    /* margin-top: 20px; */
    height: 250px;
    position: relative;
}
  
.background {
    display: flex;
    height: 100%;
}
  
.left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: 20%;
    position: relative;
}
  
.left:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to left,#000,transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 200px;
}
  
.right {
    background: black;
    width: 80%;
}
  
.content-container {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px
}